.input-container {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.label {
	color: green;
	padding: 10px 0;
	font-weight: bold;
	font-size: 15px;
}

.input {
	border: 1px solid green;
	padding: 15px;
	border-radius: 10px;
	font-size: 15px;
	color: green;
}

.input:focus-visible {
	border: 1px solid green;
}
