body {
  background-color: #081122;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin-left: 70px;
  margin-right: 70px;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo > img {
  margin-right: 5px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links > a {
  text-decoration: none;
  color: #959494;
  padding: 0 10px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.searchBox > input {
  background-color: #07142e;
  color: #fff;
  border: 1px solid #2e2c2c;
  padding: 10px;
  border-radius: 5px;
}

#download {
  background-color: #083db9;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  font-size: medium;
}

.version {
  color: #959494;
  font-size: medium;
  text-align: center;
}

.version > a {
  color: #083db9;
}

#hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #fff;
  font-size: 70px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.hero-sub-title {
  color: #959494;
  text-align: center;
  font-weight: 400;
  width: 600px;
  line-height: 1.6;
  margin-top: 5px;
  font-size: 20px;
}

.download-button {
  background-color: #083db9;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 20px;
}

.copilot-button {
  background-color: #07142e;
  border: 1px solid #2e2c2c;
  color: #fff;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 20px;
}

.download-para > a {
  color: #083db9;
}

.download-para {
  color: #959494;
  font-size: small;
}

.hero-image {
  margin: 50px;
}

.hero-image > img {
  width: 100%;
}

#copilot-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

#copilot-img-part {
  padding: 50px;
}

#copilot-img-part > img {
  width: 100%;
  height: auto;
}

#copilot-text-part {
  line-height: 1.6;
  padding: 50px;
}

#copilot-text-part > h2 {
  color: #fff;
  font-size: 25px;
}

#copilot-text-part > p {
  color: #959494;
}

#copilot-text-part > a {
  color: #083db9;
}

#copilot-text-part > p > a {
  color: #083db9;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > img {
  width: 50px;
}

#language-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  height: auto;
}

#language-text-part {
  line-height: 1.6;
  padding: 50px;
}

#language-text-part > h2 {
  color: #fff;
  font-size: 25px;
}

#language-text-part > p {
  color: #959494;
}

#language-icons-part {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

#extensions-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

#extensions-text {
  width: 300px;
}
#extensions-text > h2 {
  color: #fff;
}

#extensions-text > p {
  color: #959494;
  /* width: 300px; */
}
#extensions-text > a {
  color: #083db9;
}

.extensions-card {
  display: flex;
  align-items: start;
  background-color: #fff;
  background-color: #111824;
  border: 1px solid #262729;
  border-radius: 8px;
}
.extensions-card > img {
  margin: 20px 20px;
}

.card-content {
  margin-right: 10px;
}

.card-content > p {
  color: #959494;
}

#extensions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 10px;
}

#customize-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

#customize-text {
  line-height: 1.6;
  padding: 50px;
}

#customize-text > h2 {
  color: #fff;
}

#customize-text > p {
  color: #959494;
}

#customize-text > a {
  color: #083db9;
}

#customize-text > p > a {
  color: #083db9;
}

#customize-img > img {
  width: 100%;
  height: auto;
}

#customize-img {
  padding: 50px;
}

#anywhere-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

#anywhere-text {
  line-height: 1.6;
  padding: 50px;
}

#anywhere-text > h2 {
  color: #fff;
}

#anywhere-text > p {
  color: #959494;
}

#anywhere-text > p > a {
  color: #083db9;
}

#anywhere-img {
  padding: 50px;
}

#anywhere-img > img {
  width: 100%;
  height: auto;
}

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-title {
  font-size: 30px;
}

.features-para {
  color: #959494;
  font-size: 20px;
  width: 600px;
  text-align: center;
}

#cards {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 50px;
}

#cards > a {
  text-decoration: none;
}

.card {
  background-color: #111824;
  border: 1px solid #262729;
  border-radius: 8px;
  padding: 15px 20px;
  height: 200px;
}

.card-title {
  color: #fff;
}

.card-desc {
  color: #959494;
}
.card-image {
  background-color: #0f0c21;
  padding: 10px;
  border-radius: 5px;
}

footer {
  margin-bottom: 50px;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icons > img {
  margin: 0 10px;
}

.footer-links > a {
  text-decoration: none;
  color: #959494;
  margin: 10px 10px;
}

.footer-links {
  margin-top: 10px;
  margin-bottom: 50px;
}
